
<%- include('./partials/header.ejs') %>
    

    <center>
        <h1>Regform input </h1>
       <form action="/" method="post">
        <input type="text" name="name" placeholder="enter name"> <br>
        <input type="number" name="number" placeholder="enter nuber"> <br>
        <input type="email" name="userEmail" placeholder="enter email"> <br>
        <input type="password" name="userPassword" placeholder="enter password"> <br>
        <textarea name="address" placeholder="enter address"></textarea> <br>
        <input type="submit" value="Submit"> <br>
       </form>
    </center>
    
</body>
</html>